github "e-sites/Erbium"
github "e-sites/Cobalt"
github "e-sites/Einsteinium"
github "SwiftyJSON/SwiftyJSON"
github "kishikawakatsumi/KeychainAccess"
github "krzyzanowskim/CryptoSwift"
github "Igor-Palaguta/Cache" "560f00a9a9549db161ca70d96eed74fc580b03e3"
github "google/promises"
github "ReactiveX/RxSwift"
