github "e-sites/Erbium"
github "e-sites/Cobalt"
github "e-sites/Einsteinium"
github "SwiftyJSON/SwiftyJSON"
github "kishikawakatsumi/KeychainAccess"
github "krzyzanowskim/CryptoSwift"
github "hyperoslo/Cache"
github "google/promises"
github "ReactiveX/RxSwift"